@import 'variables';
@import 'mixins';

button, select option {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid lightGray;
  background-color: $button-color;
}

select {
  height: 31px;
  border: 1px solid gray;
  background-color: $button-color;
  -webkit-appearance: none;
  padding-left: 8px;
  @include appearance('none');
}

button:active {
  background-color: darken( $button-color, 20% )
}

body {
  font-family: sans-serif;
}
